
<h1 style="margin-top: 20px; text-align: center;">Thông tin sản
	phẩm</h1>
<div class="row">
	<div class="col-md-6">
		<img ng-src="/assets/admin/ImageP/{{form.image}}" class="img-fluid"
			alt="No image">

	</div>
	<div class="col-md-6">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Tên
				sản phẩm</label> <input type="text" ng-model="form.name"
				class="form-control" id="exampleFormControlInput1">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Giá
				tiền </label> <input type="number" ng-model="form.price"
				class="form-control" id="exampleFormControlInput1">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">
				Ngày </label> <input type="date" ng-model="form.createDate"
				class="form-control" id="exampleFormControlInput1">
		</div>
		<div class="mb-3">
			<label for="formFileLg" class="form-label">Ảnh</label> <input
				class="form-control"
				onchange="angular.element(this).scope().changeImage(this.files)"
				id="formFileLg" type="file">
		</div>

		<label for="formFile" class="form-label">Còn hàng:</label>

		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio"
				ng-model="form.available" name="inlineRadioOptions"
				id="inlineRadio1" ng-value="true"> <label
				class="form-check-label ml-0" for="inlineRadio1">Còn</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio"
				ng-model="form.available" name="inlineRadioOptions"
				id="inlineRadio2" ng-value="false"> <label
				class="form-check-label ml-0" for="inlineRadio2">Hết</label>
		</div>

		<div class="mb-3">
			<label>Danh mục</label> <select class="form-control"
				ng-model="form.category.id">
				<option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>

			</select>
		</div>
		<div class="mb-3">
			<label>Hãng</label> <select class="form-control"
				ng-model="form.brand.id">
				<option ng-repeat="b in brand" ng-value="b.id">{{b.name}}</option>
			</select>
		</div>
	</div>
</div>




<div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">Mô
		tả sản phẩm</label>
	<textarea class="form-control" id="exampleFormControlTextarea1"
		ng-model="form.discription" rows="10" required autocomplete="off"></textarea>
</div>

<div class="icon mb-3">
	<button type="button" class="btn btn-success" ng-click="create()">
		<i style="margin-right: 10px;" class="fa-solid fa-plus"></i>Thêm
	</button>
	<button type="button" class="btn btn-warning" ng-click="update()">
		<i style="margin-right: 10px;" class="fa-sharp fa-solid fa-wrench"></i>Cập
		nhật
	</button>
	<button type="button" class="btn btn-danger" ng-click="delete(form.id)">
		<i style="margin-right: 10px;"
			class="fa-sharp fa-solid fa-delete-left"></i>Xóa
	</button>
	<button type="button" class="btn btn-secondary" ng-click="reset()">
		<i style="margin-right: 10px;"
			class="fa-sharp fa-solid fa fa-sticky-note"></i>Clear
	</button>
</div>
<!-- content-wrapper ends -->
<div class="row">

	<div class="col-6 form-group">
		<input type="text" class="form-control" ng-model="s"
			placeholder="Tìm kiếm">
	</div>

	<div class="col-6 form-group">
		<input type="number" class="form-control" ng-model="pageSize">
	</div>
</div>
<!-- partial -->
<div class="card mt-3">
	<div class="card-body">
		<h4 class="card-title">Danh sách</h4>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tên</th>
					<th>Ngày</th>
					<th>Giá</th>
					<th>Danh Mục</th>
					<th>Hãng</th>
					<th>Trạng thái</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="p in items | filter:s | itemsPerPage: pageSize">
					<td>{{p.id}}</td>
					<td>{{p.name}}</td>
					<td>{{p.createDate | date:'dd-MM-yyyy'}}</td>
					<td>{{p.price | number: 2}}</td>
					<td>{{p.category.name}}</td>
					<td>{{p.brand.name}}</td>
					<td><label ng-if="!p.available" class="badge badge-danger">{{p.available?'Còn':'Hết'}}</label>
						<label ng-if="p.available" class="badge badge-success">{{p.available?'Còn':'Hết'}}</label>
					</td>
					<td>

						<button type="button" ng-click="edit(p)"
							class="btn btn-warning btn-sm">Sửa</button>
						<button type="button" ng-click="delete(p.id)"
							class="btn btn-danger btn-sm">Xóa</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-12 d-flex align-items-end justify-content-center">
		<dir-pagination-controls boundary-links="false"></dir-pagination-controls>
	</div>
</div>
